.探索小米汽车前沿科技{
    color: #12151a;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    font-weight: 300; /* 字体粗细 */
    }
    .前沿科技，技术驱动{
    color: rgba(18, 21, 26, .6);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    }
    .科技区 {
    font-weight: 300; /* 字体粗细 */
    display: grid; /* 使用网格布局 */
    grid-template-columns: repeat(2, 1fr); /* 设置2列，每列宽度相等 */
    grid-gap: 10px; /* 设置网格间距 */
    width: 80%; /* 设置科技区宽度为浏览器宽度的80% */
    margin: 0 auto; /* 设置左右外边距为auto，使其居中显示 */
    padding: 20px; /* 添加内边距，增加内容与边缘之间的距离 */
    }
    .item {
    position: relative; /* 相对定位，用于绝对定位的参考 */
    }
    .item img {
    width: 100%; /* 图片宽度100%，铺满父容器 */
    height: auto; /* 高度自动调整，保持比例 */
    display: block; /* 设置为块级元素，确保宽度100%生效 */
    }
    .item .title {
    position: absolute; /* 绝对定位，相对于.item父元素定位 */
    top: 14%; /* 距离父元素顶部20% */
    left: 0; /* 距离父元素左侧0 */
    width: 100%; /* 宽度100%，与父元素宽度相同 */
    text-align: center; /* 文字居中对齐 */
    color: white; /* 文字颜色 */
    font-size: 24px; /* 字体大小 */
    /* font-weight: bold; 字体加粗 */
    padding: 5px 0; /* 上下内边距为5像素，左右内边距为0 */
    }
    .科技区-btn{
    position: absolute; /* 绝对定位，相对于父元素定位 */
    bottom: 20px; /* 距离父元素底部20px */
    left: 50%; /* 距离父元素左侧50% */
    transform: translateX(-50%); /* 使用负的50%的偏移量使按钮水平居中 */
    outline: none; /* 移除按钮的默认外边框 */    
    height: 40px; /* 设置按钮高度 */
    border-radius: 8px; /* 设置按钮圆角 */
    font-size: 16px; /* 设置文字大小 */
    font-weight: normal; /* 设置字体粗细为普通 */    
    box-sizing: border-box; /* 设置盒模型为边框盒 */
    transition: background-color 0.3s, color 0.3s; /* 添加背景色和文字颜色过渡效果 */
    background-color: transparent; /* 设置背景色为透明 */
    border: 2px solid white; /* 设置边框样式 */
    color: white; /* 设置文字颜色 */
    width: 256px; /* 设置按钮宽度 */
    padding: 8px 20px; /* 设置内边距 */
    text-decoration: none; /* 取消下划线 */
    }
    .科技区-btn:hover {
    background-color: white; /* 鼠标悬停时背景填充为白色 */
    color: black; /* 文字颜色变为黑色 */
    }
    .科技区-btn:hover::before {
    content: ''; /* 必须有内容，否则伪元素不会显示 */
    position: absolute; /* 绝对定位 */
    top: -1.5px; /* 上移 1.5px */
    left: -1.5px; /* 左移 1.5px */
    width: calc(100% + 3px); /* 宽度增加 3px */
    height: calc(100% + 3px); /* 高度增加 3px */
    background-color: transparent; /* 初始状态为透明 */
    transition: background-color 0.3s; /* 添加过渡效果 */
    z-index: -1; /* 将伪元素放置在按钮底部 */
    border-radius: 8px; /* 设置圆角 */
    }