
.外观描述 {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平方向上居中对齐 */
    align-items: center; /* 垂直方向上居中对齐 */
    padding: 0 20px; /* 左右内边距为 20 像素 */
    animation: fadeInUpFast 0.3s ease-in; /* 应用渐显动画 */
    text-align: center; /* 文字居中对齐 */
    line-height: 1.6; /* 行高为 1.5 倍 */
    background-color: #e9e8e8;
    padding-top: 20px;
}
.外观描述大标题 {
    color: #12151A; /* 文字颜色 */
    font-size: 32px; /* 字体大小 */
    font-weight: 300; /* 字体粗细 */
}
.外观描述小标题 {
    font-size: 20px; /* 字体大小 */
    color: #635d5d; /* 文字颜色 */
    font-weight: 400; /* 字体粗细 */
    margin-top: 16px; /* 上外边距为 16 像素 */
    padding-left: 50px;
    orphans: 0.9;
}
.轮播容器 {
    position: relative;
    width: 100%;
    height: auto; /* 根据图片高度自动调整 */
    overflow: hidden;
    background-color: #e9e8e8;
    padding: 30px;
}
.轮播列表 {
    display: flex;
    transition: transform 0.3s ease; /* 使用过渡动画 */
}
.轮播项 {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.轮播项 img {
    width: 70%; /* 将图片宽度设置为原来的一半 */
    height: auto; /* 让高度按比例自动调整 */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 保持图片比例并适应容器 */
}