
.外观描述 {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平方向上居中对齐 */
    align-items: center; /* 垂直方向上居中对齐 */
    padding: 0 20px; /* 左右内边距为 20 像素 */
    animation: fadeInUpFast 0.3s ease-in; /* 应用渐显动画 */
    text-align: center; /* 文字居中对齐 */
    line-height: 1.6; /* 行高为 1.5 倍 */
    background-color: #e9e8e8;
    padding-top: 20px;
}
.外观描述大标题 {
    color: #12151A; /* 文字颜色 */
    font-size: 32px; /* 字体大小 */
    font-weight: 300; /* 字体粗细 */
}
.外观描述小标题 {
    font-size: 20px; /* 字体大小 */
    color: #635d5d; /* 文字颜色 */
    font-weight: 400; /* 字体粗细 */
    margin-top: 16px; /* 上外边距为 16 像素 */
    padding-left: 50px;
    orphans: 0.9;
}

