
.亮点设计，点睛之笔{
    color: #12151A; /* 文字颜色 */
    font-size: 32px; /* 字体大小 */
    font-weight: 300; /* 字体粗细 */
    text-align: left; /* 文字左对齐 */
    padding-left: 240px; /* 左侧内边距 */
    }
    .灯{
    justify-content: center; /* 水平方向上居中对齐 */
    align-items: center; /* 垂直方向上居中对齐 */
    padding: 0 20px; /* 左右内边距为 20 像素 */
    animation: fadeInUpFast 0.3s ease-in; /* 应用渐显动画 */
    text-align: center; /* 文字居中对齐 */
    line-height: 1.4; /* 行高 */
    background-color: #ffffff;
    padding-top: 20px;
    }
    .细节设计{
    padding-top: 30px;
    text-align: left; /* 文字左对齐 */
    padding-left: 240px; /* 左侧内边距 */
    color: #635d5d; /* 文字颜色 */
    font-weight: 300; /* 字体粗细 */
    }
    .灯图 {
    display: flex; /* 使用 Flexbox 布局 */
    content: ''; /* 必须有内容，否则伪元素不会显示 */
    position: absolute; /* 绝对定位 */
    padding-top: 20px; /* 上边距 */
    }
    .su7_5_1_left {
    transform: scale(0.4); /* 图片缩放为原来的一半大小 */
    transform-origin: top right; /* 设置变形的原点 */
    object-fit: contain; /* 保持图片比例并适应容器 */
    }
    .su7_5_1_right {
    transform: scale(0.4); /* 图片缩放为原来的0.6倍大小 */
    transform-origin: top left; /* 设置变形的原点为左上角 */
    object-fit: contain; /* 保持图片比例并适应容器 */
    padding-left: 30px; /* 左侧内边距 */
    }    
    
    