/*===========================================================================*/
/*导航start*/
.top-nav-left li:first-child {
    margin-right: 10px; /* 调整Logo和其他导航项之间的间距 */
}

.top-nav-left li:first-child img {
    max-width: 35px; /* 调整Logo的大小 */
    height: auto;
    padding-top: 10px;
}

.top-nav {
    width: 100%;
    height: 50px;
    line-height: 60px;
    background-color: rgba(44, 55, 61, 0.95); /* 使用 rgba() 函数设置背景颜色及透明度 */
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* 导航栏位于其他元素之上 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* 水平偏移量 | 垂直偏移量 | 模糊半径 | 阴影颜色 */
}

.top-nav .warp {
    width: 100%;
    margin: 0 auto;
}

.top-nav .top-nav-left {
    float: left;
}

.top-nav .top-nav-right {
    float: right;
    margin-right: 40px;
}

.top-nav li {
    float: left;
    padding-left: 30px;
    position: relative;
}

.top-nav a {
    color: #c2bfbf;
}

/* 定义下划线动画效果 */
@keyframes underlineGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* 设置下划线样式 */
.top-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px; /* 下划线的高度 */
    background-color: transparent; /* 下划线的颜色 */
    transition: width 0.3s ease; /* 过渡动画效果 */
    margin-top: -18px; /* 负边距将下划线向上移动，使其贴近文字 */
}

/* 应用动画效果 */
.top-nav li a:hover::after {
    animation: underlineGrow 0.3s ease forwards;
    background-color: #ffffff; /* 下划线的颜色 */
}

/* 修改鼠标悬停时文字颜色和加粗 */
.top-nav li a:hover {
    color: #ffffff; /* 设置文字颜色为纯白色 */
}

/* 设置默认状态为透明 */
.top-nav {
    opacity: 0.75;
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停时变为不透明 */
.top-nav:hover {
    opacity: 1;
}

.download {
    width: 124px;
    height: 148px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 60px;
    left: 4%;
}

.download img {
    width: 90px;
    margin: 18px auto 0;
}

.download p {
    color: #424242;
    font-size: 12px;
    line-height: 0px;
}

.download {
    display: none; /* 初始状态隐藏 */
}

.top-nav-left li:hover > .download {
    display: block; /* 鼠标悬停时显示 */
}

.strl {
    width: 0;
    height: 0;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 53px;
    top: 52px;
    margin-left: 4px;
    display: none;
}

.top-nav-left > li:hover > .strl {
    display: block; /* 鼠标悬停时显示 */
}

.sub-menu {
    display: none; /* 初始状态隐藏 */
    position: absolute;
    background-color: rgba(44, 55, 61, 0.95); /* 使用与父菜单相同的背景颜色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* 阴影效果 */
    z-index: 1000; /* 使其位于其他元素之上 */
    top: 50px; /* 调整子菜单的垂直位置 */
    left: 0; /* 将子菜单定位在父菜单的左侧 */
    width: 100%; /* 子菜单的宽度与父菜单相同 */
}

.小米su7:hover .sub-menu {
    display: block; /* 鼠标悬停时显示 */
}
/*导航end*/
