.subscribe-main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/试驾/2.png');
    background-size: cover;
    background-position: center;
}
.table{
    position: relative;
    width: 33%; /* 设置表格宽度 */
    margin-left: auto; /* 将表格靠右侧显示 */
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6); /* 设置表格背景色并添加透明度 */
    backdrop-filter: blur(80px); /* 添加高斯模糊效果 */
    padding-top: 10%; /* 调整表格顶部距离 */
    height: 99vh;
    font-weight: 100;
}
.form-title{
    font-weight:lighter;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}
.form-group{
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
    transition: border-color 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 20px;
    margin-right:10px;
    display: block; /* 确保块级显示 */
}
.form-group:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.form-label {
    font-size: 1.125rem;
    margin-bottom: 8px;
    display: block; /* 确保标签占据一整行 */
}
.flex {
    display: flex;
    align-items: center;
}
.form-input {
    width: 84%;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(226, 226, 226, 0.9);
    font-size: 15px;
    display: block; /* 确保输入框占据一整行 */
}
.form-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 13px;
    padding-left: 14px;
    color: #bebebe;
}
.form-checkbox input[type="checkbox"] {
    width: 15px; /* 调整复选框的宽度 */
    height: 15px; /* 调整复选框的高度 */
    margin-right: 10px; /* 调整复选框与标签之间的间距 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    top:0;
}
.form-checkbox input {
    margin-right: 10px;
}

.form-checkbox a {
    color: #4f9eed;
    text-decoration: none;
}

.form-checkbox a:hover {
    text-decoration: underline;
}   
.form-button{
    display: block;
    width: 20%;
    padding: 8px;
    background: transparent;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #9e9e9e;
}
.form-button1 {
    display: block;
    width: 100%;
    padding: 14px;
    background: rgb(53, 130, 255);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 6px;
}
.form-button1:hover {
    background: #3c84c7;
}
.form-button:hover {
    color: #fff;
}
.location-button{
    color: rgb(53, 130, 255);
}